.categorywall.covers
.caption{background:rgba(0, 0, 0, 0.7);padding:10px}.categorywall .categorywall_thumbnail>a{font-size:16px;text-align:center}.categorywall{margin-top:20px}.product-info #product_products.rrrating input[type='radio']{display:inline-block}.product-thumb .caption
p{text-align:left;margin-bottom:10px}.product-info .product-thumb.transition
.wishlist{margin-left:0}.top-links .dropdown .dropdown-menu-right li > a
i{margin-right:-3px}.custom_footer{background:#fafafa;border-top:1px solid #ddd;border-bottom:1px solid #ddd;color:#333;margin-bottom:-25px;margin-top:20px;padding-bottom:10px;padding-top:20px}.custom_footer
img{padding-bottom:10px}.custom_footer
i{color:#555}