.cloud-zoom-lens{border:1px
solid #eee;margin:0px;background-color:#fff;cursor:move}.cloud-zoom-title{font-family:Arial,Helvetica,sans-serif;position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0px}.cloud-zoom-big{border:1px
solid #eee;overflow:hidden;background-color:#fff}.cloud-zoom-loading{color:#333;background:#fff;padding:3px;border:1px
solid #eee}